.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #020202;
}
a, a:visited, a:hover, a:active {
  color: inherit;
}
.navbarlink {
  margin-left: 50px;
  text-decoration: underline;
}